{% extends 'enroll/base.html' %}
{% block content %}

<style>
.errorlist{
color:red;
}

</style>

<h2>
    <center>Registration Page</center>
</h2>

<form action= "" method="POST">
    {% csrf_token %}

    {% if form.errors %}

    <div clas="alert alert-error">

    <!-- {{registration_form.errors}} -->
    {% for field,value in form.errors.items %}

        {{field}} {{value}}

    {% endfor %}
    
    {%  endif %}
    </div>

    {{form.as_p}}
    
    <center><input type="submit" class="btn btn-success" value="Register" margin-top="20px"></center>
</form>
{% endblock content %} 